
.header {
  padding: 5% 20%;
  
  font-size: 48px;
  color: #91e9dd;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  z-index: 9;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding: 20% 20%;
  background-color:white;
}

td,
th {
  border: 1px solid #dddddd44;
  text-align: center;
  padding: 3% 2%;
}
